<app-loading *ngIf="!cargada">

</app-loading>


<!-- <div *ngIf="_infoPrinciServ.cargada" class="animated fadeIn ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

        <a *ngFor="let curriculum of _infoPrinciServ.datosPrincipales" routerLink="item/lenguajes" class="rk-item ae-masonry__item">
            <img src="assets/curriculum/{{curriculum.url}}" class="circular-cover">

            <div class="item-meta">
                <h2>{{curriculum.titulo}}</h2>
                <p>{{curriculum.categoria}}</p>
            </div>
        </a>
    </div> -->
<div class="animated fadeIn ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

    <a [routerLink]="['/about']" class="rk-item ae-masonry__item">
        <img src="assets/curriculum/project-1.png" class="circular-cover">


        <div class="item-meta">

            <h2>{{indx[0].categoria}}</h2>
            <p>{{indx[0].titulo}}</p>

        </div>
    </a>

    <a [routerLink]="['/experiencia']" class="rk-item ae-masonry__item">
        <img src="assets/curriculum/project-2.png" class="circular-cover">

        <div class="item-meta">
            <h2>{{indx[1].categoria}}</h2>
            <p>{{indx[1].titulo}}</p>
        </div>
    </a>

    <a [routerLink]="['/educacion']" class="rk-item ae-masonry__item">
        <img src="assets/curriculum/project-3.png" class="circular-cover">

        <div class="item-meta">
            <h2>{{indx[2].categoria}}</h2>
            <p>{{indx[2].titulo}}</p>
        </div>
    </a>

    <a [routerLink]="['/software']" class="rk-item ae-masonry__item">
        <img src="assets/curriculum/project-4.jpg" class="code-circulo">

        <div class="item-meta">
            <h2>{{indx[3].categoria}}</h2>
            <p>{{indx[3].titulo}}</p>
        </div>
    </a>

    <a [routerLink]="['/software']" class="rk-item ae-masonry__item">
        <img src="assets/curriculum/project-5.jpg" class="circular-cover">

        <div class="item-meta">
            <h2>{{indx[4].categoria}}</h2>
            <p>{{indx[4].titulo}}</p>
        </div>
    </a>

    <a href="" data-toggle="modal" data-target="#inglesModal" class="rk-item ae-masonry__item">
        <img src="assets/curriculum/project-6.jpg" class="circular-cover">

        <div class="item-meta">
            <h2>{{indx[5].categoria}}</h2>
            <p>{{indx[5].titulo}}</p>
        </div>
    </a>

    <a [routerLink]="['/indice']" class="rk-item ae-masonry__item">
        <img src="assets/curriculum/project-7.jpg" class="circular-cover">

        <div class="item-meta">
            <h2>{{indx[6].categoria}}</h2>
            <p>{{indx[6].titulo}}</p>
        </div>
    </a>



</div>


<!-- Modal -->
<div class="modal fade" id="inglesModal" tabindex="-1" role="dialog" aria-labelledby="inglesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inglesModalLabel">Idiomas: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">

                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{{idiomas.Ingles.Writing}}</th>
                            <th scope="col">{{idiomas.Ingles.Speaking}}</th>
                            <th scope="col">{{idiomas.Ingles.Reading}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{idiomas.Ingles.idioma}}</th>
                            <td>{{idiomas.Ingles.WritingPercent}}%</td>
                            <td>{{idiomas.Ingles.SpeakingPercen}}%</td>
                            <td>{{idiomas.Ingles.ReadPercent}}%</td>
                        </tr>
                        <!-- <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr> -->
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
