<app-loading *ngIf="!cargada">

</app-loading>


<!-- <div *ngIf="_infoPrinciServ.cargada" class="animated fadeIn ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

        <a *ngFor="let curriculum of _infoPrinciServ.datosPrincipales" routerLink="item/lenguajes" class="rk-item ae-masonry__item">
            <img src="assets/curriculum/{{curriculum.url}}" class="circular-cover">

            <div class="item-meta">
                <h2>{{curriculum.titulo}}</h2>
                <p>{{curriculum.categoria}}</p>
            </div>
        </a>
    </div> -->
<div class="animated fadeIn ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

    <a [routerLink]="['/about']" class="rk-item ae-masonry__item">
        <img src="assets/curriculum/project-1.png" class="circular-cover">


        <div class="item-meta">

            <h2>{{indx[0].categoria}}</h2>
            <p>{{indx[0].titulo}}</p>

        </div>
    </a>

    <a [routerLink]="['/experiencia']" class="rk-item ae-masonry__item">
        <img src="assets/curriculum/project-2.png" class="circular-cover">

        <div class="item-meta">
            <h2>{{indx[1].categoria}}</h2>
            <p>{{indx[1].titulo}}</p>
        </div>
    </a>

    <a [routerLink]="['/educacion']" class="rk-item ae-masonry__item">
        <img src="assets/curriculum/project-3.png" class="circular-cover">

        <div class="item-meta">
            <h2>{{indx[2].categoria}}</h2>
            <p>{{indx[2].titulo}}</p>
        </div>
    </a>

    <a [routerLink]="['/software']" class="rk-item ae-masonry__item">
        <img src="assets/curriculum/project-4.jpg" class="code-circulo">

        <div class="item-meta">
            <h2>{{indx[3].categoria}}</h2>
            <p>{{indx[3].titulo}}</p>
        </div>
    </a>

    <a [routerLink]="['/']" class="rk-item ae-masonry__item">
        <img src="assets/curriculum/project-5.jpg" class="circular-cover">

        <div class="item-meta">
            <h2>{{indx[4].categoria}}</h2>
            <p>{{indx[4].titulo}}</p>
        </div>
    </a>

    <a [routerLink]="['/']" class="rk-item ae-masonry__item">
        <img src="assets/curriculum/project-6.jpg" class="circular-cover">

        <div class="item-meta">
            <h2>{{indx[5].categoria}}</h2>
            <p>{{indx[5].titulo}}</p>
        </div>
    </a>

    <a [routerLink]="['/']" class="rk-item ae-masonry__item">
        <img src="assets/curriculum/project-7.jpg" class="circular-cover">

        <div class="item-meta">
            <h2>{{indx[6].categoria}}</h2>
            <p>{{indx[6].titulo}}</p>
        </div>
    </a>



</div>