<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
            <ul class="rk-menu rk-footer-menu">
                <li class="rk-menu__item"><a class="rk-menu__link" (click)="cambiarIdioma()">{{idioma}}</a>
                </li>
                <li class="rk-menu__item"><a [routerLink]="['about']" class="rk-menu__link">Acerca</a>
                </li>
                <li class="rk-menu__item">
                    <a [routerLink]="['indice']" class="rk-menu__link">Indice</a>
                </li>
                <li class="rk-menu__item"><a href="" data-toggle="modal" data-target="#exampleModal" class="rk-menu__link">Contact</a>
                </li>
            </ul>
            <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{anio}}  </span>All Right Reserved.</p>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center">
            <a target="blank" [href]="_infoService.info.facebook" class="rk-social-btn ">
                <svg>
          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
        </svg></a>
            <a target="_blank" [href]="_infoService.info.twitter" class="rk-social-btn ">
                <svg>
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg></a>
            <a href="#0" class="rk-social-btn ">
                <svg>
          <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
        </svg></a>
            <a href="#0" class="rk-social-btn ">
                <svg>
          <use xlink:href="assets/img/symbols.svg#icon-tumblr"></use>
        </svg></a>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
            <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Email: </span><span class="ae-u-bolder"> 
                <a href="mailto:{{_infoService.info.email}}" class="rk-dark-color ">{{_infoService.info.email}} </a></span></p>
            <!-- <p class="rk-footer__text rk-footer__by">Theme by <a href="http://pixeden.com" class="ae-u-bolder">Pixeden.</a></p> -->
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contacto: </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">

                        <tbody>
                            <tr>
                                <th scope="row">Nombre:</th>
                                <td>{{dataPers.nombre}}</td>

                            </tr>
                            <tr>
                                <th scope="row">Correo:</th>
                                <td>{{dataPers.email}}</td>
                            </tr>
                            <!-- <tr>
                                <th scope="row">Telefono: </th>
                                <td colspan="2">{{dataPers.Celular}}</td>

                            </tr> -->
                        </tbody>
                    </table>
                    <ul class="social-media-ul">
                        <li class="social-media ">
                            <a href="https://www.linkedin.com/in/josseph/" target="blank">
                            <img src="assets/socialMedia/linkedIn.png" class="">
                            </a>
                            
                        </li>

                        <li class="social-media">
                            
                            <a href="https://github.com/Helghast-Mx" target="blank">
                                <img src="assets/socialMedia/github.png" class="">
                            </a>
                        </li>

                        <li class="social-media">

                            
                            <a href="https://twitter.com/SolisAllan" target="blank">
                                <img src="assets/socialMedia/twitter.png" class="">
                            </a>

                        </li>

                        <li class="social-media">

                            <a href="https://wa.me/525541763252/?text=Hola%20Joseph!" target="blank">
                                <img src="assets/socialMedia/whatsapp.png" class="">
                            </a>
                            
                        </li>

                        <li class="social-media">

                            <a href="https://www.facebook.com/joseph.a.a.solis/" target="blank">
                                <img src="assets/socialMedia/facebook.png" class="">
                            </a>
                            
                        </li>
                        <li class="social-media">

                            <a href="https://www.instagram.com/joss_pha/" target="blank">
                                <img src="assets/socialMedia/instagram.png" class="">
                            </a>
                            
                        </li>

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>

</footer>